<h3>new entry</h3>
<form method="post" action="/add">
  <input type="text" name="title" placeholder="my awesome title"><br>
  <input type="text" name="dt" placeholder="date e.g 2018-10-16"><br>
  <textarea rows="20" cols="50" name="artwork" placeholder="my ascii art"></textarea><br>
  <input type="text" name="tags" placeholder="tags. separate using spaces"><br>
  <input type="submit" value="add artwork">
</form>
