<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ascii sketchbook</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="">
      <h1>ascii sketchbook</h1>
    </header>
    <h3>artworks</h3>
    <form action="/" method="GET">
      Filter by a tag: <input type="text" name="tag" value="">
    </form>
    {{{body}}}
    <footer>
      <a href="/">home</a>
      <a href="/add">add</a>
    </footer>
  </body>
</html>
